:root {
  --action-keys-gradient: #565656, #7364d2;
  --background-gradient: #f8effc, #ae9fba;
  --new-task-background-color: #f0f5fd;
  --primary-color: #3f3a68;
  --task-submit-gradient: #f0f5fd, #3f3a68;
  --text-background-color: #fff;
}

.dark-theme {
  --action-keys-gradient: #565656, violet;
  --background-gradient: #000, #374151;
  --new-task-background-color: #dedcdc;
  --primary-color: #eee;
  --task-submit-gradient: #f0f5fd, violet;
  --text-background-color: #f0f5fd;
}

body {
  background: linear-gradient(var(--background-gradient));
}

button {
  font-size: 13px !important;
}

main {
  margin-top: 40px;
}

.done,
.edit,
.delete {
  background: linear-gradient(var(--action-keys-gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 150ms ease-in-out;
  font-size: 16px;
}

.done:hover,
.edit:hover,
.delete:hover {
  background: var(--primary-color);
  font-size: 18px !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.done:active,
.edit:active,
.delete:active {
  opacity: 0.5;
}

.foot-notes {
  height: 300px;
  margin: 210px 0px 0px;
}

.container {
  padding: 10px;
  width: 65% !important;
  height: 100% !important;
  margin: 50px 30px 5px;
}

.content {
  display: flex;
  flex: 1 1 0%;
  font-family: "Inconsolata", monospace;
}

.content .text:not(:read-only) {
  color: purple !important;
}

.h1 {
  font-size: 75px !important;
  font-family: "Short Stack", cursive;
  color: var(--primary-color);
}

.h3 {
  font-family: "Smooch", cursive;
  color: var(--primary-color);
  opacity: 0.7;
}

.h5 {
  font-size: 12px !important;
  font-family: "Nunito Sans", sans-serif;
  color: gray;
  opacity: 0.6;
}

.h6 {
  font-size: 9px !important;
}

.notes {
  position: relative;
  border: 1px solid var(--primary-color);
  border-style: dashed;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  background: #f8effc;
  color: var(--primary-color);
}

.subnotes {
  width: 200px;
  height: 150px;
  position: relative;
  top: 120px;
}

.strike-through {
  text-decoration: line-through;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.task-list h3 {
  margin-bottom: 1rem;
}

.text {
  background: var(--text-background-color);
  border-radius: 12px;
  flex: 1 1 0%;
  font-size: smaller;
  padding: 2px 10px;
  margin: 0 1rem;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#theme {
  text-decoration: none;
  color: var(--primary-color);
  transition: 150ms ease-in-out;
}

#theme:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

#new-task-form {
  display: flex;
}

#new-task-input {
  background: var(--new-task-background-color);
  flex: 1 1 0%;
  padding: 8px 16px;
  border-radius: 1rem;
  margin-right: 1rem;
  font-family: "Nunito Sans", sans-serif;
}

#new-task-submit {
  background: linear-gradient(var(--task-submit-gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 150ms ease-in-out;
  font-size: 16px;
}

#new-task-submit:hover {
  background: var(--primary-color);
  font-size: 17px !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#new-task-submit:active {
  opacity: 0.5;
}

@media (max-width: 1007px) {
  .h1 {
    color: green;
    font-size: 47px !important;
  }
  .container {
    width: 90% !important;
    margin: 0 auto;
  }
  .notes {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 640px) {
  .h1 {
    color: red;
    font-size: 30px !important;
  }

  .container {
    width: 90% !important;
    margin: 0 auto;
  }

  .notes {
    width: 100%;
    height: 100%;
  }
}
